@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
    color:#ffd900b3;
    background-color: #7e2e7e;
    margin: 0px;
    margin-bottom: 100px;
    font-family: "Roboto Mono", monospace;
}

header{
    border-bottom: #ffd900;
    margin:20px;
    font-size:32px;
    color: #ffd900;


}


h1{
color:#ffd900;
font-size: 40px;
}

p{
    font-size: 20px;
}
.categoria{

padding-left: 20px;
padding-right: 20px;

}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

img{

    height: 200px;
}

.categoria-videos img{

    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{

opacity:1.0;
border: 3px solid #eebf68;

}

.categoria h2{
color: #e9ba63;

}


.chamada-texto{
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: #ca65caa2;
    color: #f1cb83;
}